* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  padding: 1%;
}

/* img */

img {
  max-width: 100%;
}
article img {
  cursor: pointer;
}

/* Header + nav */

header {
  text-align: center;
}
.heading {
  color: white;
  background-color: #ff1f31;
  padding: 8%;
}

nav {
  display: flex;
  margin-bottom: 1%;
  justify-content: center;
}

button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  margin-top: 2%;
  background-color: #ff1f31;
  color: white;
  padding: 15px 13px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

button:hover {
  color: black;
  background-color: white;
}

/* main styling */

main {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5vh;
  row-gap: 8vh;
  text-align: start;
}

article:nth-child(odd) {
  background-color: #ff1f31;
  border: solid 5px;
  border-color: #ff1f31;
}

article:nth-child(even) {
  background-color: #ff8c00;
  border: solid 5px;
  border-color: #ff8c00;
}

.info {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 15px;
}

/* popup */

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ff8c00;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

#popup article {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 4rem auto;
  border: 8px solid;
  border-color: #ff1f31;
  background-color: rgb(243, 27, 27);
}

#popup article p {
  color: white;
}

#popup article img {
  cursor: auto;
}

.info2 {
  padding: 10px 0px;
  display: grid;
  grid-row-gap: 15px;
}

#luk {
  color: white;
  position: fixed;
  padding-top: 2rem;
  padding-left: 0.5rem;
  cursor: pointer;
}

/* tekst styling */

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.pris {
  text-align: right;
  font-size: 25px;
  font-weight: 400;
}

h1 {
  margin-bottom: 10%;
  letter-spacing: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 60px;
  font-weight: 600;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: white;
}

h3 {
  color: white;
  background-color: rgb(255, 128, 0);
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
}

h4 {
  color: #ff1f31;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* styling over 800px */

@media (min-width: 800px) {
  .heading {
    display: grid;
    color: white;
    padding: 0%;
    margin: 0;
  }
  .heading h1 {
    font-size: 80px;
    margin-top: 5%;
  }
  .heading h2 {
    font-size: 40px;
    padding-bottom: 1%;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  button {
    padding: 20px 35px;
  }
}

/* popup over 800px */
@media (min-width: 800px) {
  #popup {
    height: 100vh;
    width: 100vw;
  }

  #popup article {
    width: 30vw;
    height: auto;
    margin: 4rem auto;
  }
  #popup article p {
    color: white;
  }
}
